<!DOCTYPE html>
<html lang="en">
<head>
    <title>PlantCare AI</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<div class="app">
    <h1>🌿 PlantCare AI</h1>
    <p class="subtitle">AI-powered Plant Disease Detection</p>

    <div class="card">
        <input type="file" id="imageInput" accept="image/*" capture="environment">
        <div class="preview">
            <img id="previewImg" src="static\images\image.jpg">
        </div>

        <div class="buttons">
            <button onclick="analyze()">Analyze</button>
            <button class="clear" onclick="clearAll()">Clear</button>
        </div>
    </div>

    <div id="result" class="result"></div>

    <button id="xaiBtn" onclick="showXAI()" class="xai hidden">
        🔍 Show XAI (Grad-CAM)
    </button>

    <div id="xaiOutput"></div>
</div>

<script src="/static/js/app.js"></script>
</body>
</html>
